@model IEnumerable<MusicPortal.Models.Song>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>После авторизации (Index Account)</h1>
<h3>Hi, @Context.Session.GetString("Email")</h3>

@{
    // Model.IsConfirmed == true
    if (ViewBag.IsAdmin == true)
    {
        <div>
            <p>Аккаунт-Индекс для админов</p>
            <span> | </span>
            <span><a asp-action="AllGenres" asp-controller="Genre">Жанри</a></span>
            <span> | </span>
            <span><a asp-action="AllSongs" asp-controller="Song">Всі пісні</a></span>
            <span> | </span>
            <span> <a asp-action="MySongs" asp-controller="Song">Мої пісні</a></span>
            <span> | </span>
            <span><a asp-action="AllUsers" asp-controller="User">Всі користувачі</a></span>
            <span> | </span>
        </div>
    }
    else if (ViewBag.IsAdmin == false)
    {
        <div>
            <p>Аккаунт-Индекс для обычных юзеров (подтвержденных)</p>
            <span> | </span>           
            <span><a asp-action="AllSongs" asp-controller="Song">Всі пісні</a></span>
            <span> | </span>
            <span> <a asp-action="MySongs" asp-controller="Song">Мої пісні</a></span>
            <span> | </span>
        </div>
    }
}






<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Genre.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Title)
            </td>
            <td>
                    <div>
                        <audio controls muted loop src="@Html.DisplayFor(e=>item.Path)" />

                    </div>
            </td>
          
          @*   <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
